
.watermark {
    display: none !important;
}

.css-197yv4q {
    color: white;
}

.css-vz303y {
    color: white;
}
.css-6xugel > :nth-of-type(1) {
    color: white;
}

.css-4fr6ln {
    color: white !important;
}

.css-ikw04q {
    color: white !important;
}

.MuiButtonBase-root span{
    color: white !important;
}

.css-mcnsyg textarea {
    color: white !important;
}

.css-1deacqj {
    fill: white !important;
}

.css-1el3axn {
    color: white !important;
}
.css-vubbuv {
    fill: white !important;
}